{% extends "base.html" %} {% from 'macros.html' import render_field %} {% block content %}
<div class="main small-4 small-centered text-center columns">
	<p> ready to get started?</p>
	{% from 'macros.html' import render_field %}

	<form class="form-4 text-center small-12 small-centered columns" method="POST" action="" class="form">
		{{ form.hidden_tag() }} {% for field in form %} {{ render_field(field) }} {% endfor %}

		<p> Don't have an account? <a href="{{ url_for('register')}}">Register</a></p>
		<input type="submit" name="submit" value="Login">
	</form>

</div>
{% endblock %}
