{% extends "base.html" %} {% from 'macros.html' import render_field %}
<header class="main_h">

	<div class="mobile-toggle">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<nav>
		<a href="{{ url_for('index')}}">all</a> {% if current_user.is_authenticated %}
		<a href="{{ url_for('stream', username=current_user.username) }}">Following</a>
		<a href="{{ url_for('post') }}" class="new"> Create New post</a> {% endif %}
	</nav>
</header>
{% block content %}


<form class="form-4 small-4 columns" method="POST" action="">
	{{ form.hidden_tag() }} {% for field in form %} {{ render_field(field) }} {% endfor %}
	<input type="submit" name="submit" value="POST!">

</form>

{% endblock %}
